#log-visual-comp {
  .log-console {
    .log-context-scroll {
      max-height: 250px;
      overflow: auto;
    }
    .log-context-list {
      padding: 10px;
    }
    .log-context-bar {
      height: 30px;
      line-height: 30px;
      padding: 0px 10px;
      align-items: center;
      background: rgb(221, 228, 237);
    }
    .log-context-prevs,
    .log-context-nexts {
      position: fixed;
      z-index: 99;
      overflow: hidden;
      max-height: 300px;
      background: linear-gradient(rgb(255, 255, 255) 0%, rgb(247, 248, 250) 104.25%);
      box-shadow: rgb(221, 228, 237) 0px 2px 4px, rgb(221, 228, 237) 0px 0px 2px;
      border: 1px solid rgb(221, 228, 237);
      border-radius: 3px;
      .more-context-next,
      .more-context-prev {
        cursor: pointer;
        &:hover {
          color: rgb(0, 89, 156);
        }
      }
    }
    .log-context-nexts {
      top: 19px;
    }
    .log-context-item {
      padding: 5px 0;
    }
  }
}
