#log-visual-comp {
  .log-console {
    .log-context-scroll {
      max-height: 250px;
      overflow: auto;
    }
    .log-context-prevs,
    .log-context-nexts {
      position: absolute;
      z-index: 2;
      left: 0;

      width: 100%;
      max-height: 250px;
      background: linear-gradient(rgb(255, 255, 255) 0%, rgb(247, 248, 250) 104.25%);
      box-shadow: rgb(221, 228, 237) 0px 2px 4px, rgb(221, 228, 237) 0px 0px 2px;
      border: 1px solid rgb(221, 228, 237);
      padding: 10px;
      border-radius: 3px;
    }
    .log-context-nexts {
      top: 19px;
    }
    .log-context-item {
      padding: 5px 0;
    }
  }
}